# env file
.env

# virtual environments
venv/
.venv/

# python stuff
__pycache__/


# Jenkins data directory
jenkins_home/

# But you might want to keep some configs
# !jenkins_home/jobs/
# jenkins_home/jobs/*/builds/
# jenkins_home/jobs/*/workspace/
# jenkins_home/secrets/
# jenkins_home/*.log